{:paths ["src" "test" "dev"]
 :deps {metosin/reitit-frontend {:mvn/version "0.8.0"}
        no.cjohansen/phosphor-clj {:mvn/version "2025.04.16"}
        no.cjohansen/replicant {:mvn/version "2025.03.27"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.28.22"}}}
